body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
  background: #1abc9c;
  border: none;
  color: black;
}

a {
  color: #1abc9c;
  margin-right: 10px;
}

