API_ID=29170645
API_HASH=0498ddbf04f71f7d91018c27140b82b3
BOT_TOKEN=8254018636:AAGtYPU9UYoiZ-BL7joEgXcqd_wz7rG6b5s

DATABASE_URL=postgresql://postgres:Vexera20041@db.iximijqhbxvuzirqtubd.supabase.co:5432/postgres

GAME_BONUS_PERCENT=10
DEFAULT_ENTRY_FEE=50

DAILY_BONUS_MIN=10
DAILY_BONUS_MAX=30

TURN_TIMEOUT_SECONDS=30

ADMIN_JWT_SECRET=ae7aa0c3a1092131ad1b54160629cb1d5f903a0963269f77e1eaab3e68a36c2
ADMIN_JWT_EXPIRE_MINUTES=1440
ADMIN_OWNERS=6558799817
ENV=production
